.custom-mega-menu {
    position: fixed;
    top: 158px;
    left: 0;

    width: 100vw;

    max-height: 70vh; /* 70% de la hauteur de l'écran */
    overflow-y: auto; /* scroll vertical automatique */

    padding: 1rem;
    background-color: white;
    border-top: 1px solid #ddd;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);

    z-index: 1050;
}


.custom-mega-menu .dropdown-header {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.custom-mega-menu .dropdown-item {
  padding: 0.25rem 1rem;
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-nav .nav-item:hover > .custom-mega-menu {
  display: block; /* Show on hover */
}

.navbar-nav .nav-item:hover > .nav-link {
  color: white;
}

.navbar-nav .nav-link {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    color: rgba(255, 255, 255, 0.8);
}
