<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <button class="navbar-toggler" type="button" (click)="toggleMenu()" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{'show': isMenuOpen}" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item"  *ngFor="let category of categories" (mouseenter)="showMegaMenu(category.name)" (mouseleave)="hideMegaMenu()">
        <a class="nav-link btn"  (click)="goToProducts(category.id)" >{{category.name}}</a>
        <div class="custom-mega-menu" *ngIf="activeMenu === category.name" >
          <div class="container-fluid">
            <div class="row" *ngFor="let group of getGroups(category.children, 4)">
              <div class="col-md-3" *ngFor="let child of group">
                <h5 class="dropdown-header">{{child.name}}</h5>
                <ul class="list-unstyled">
                  <li><a  class="dropdown-item btn" (click)="goToProducts(child.id)">Voir tout</a></li>
                  <li *ngFor="let grandChild of child.children"><a class="dropdown-item btn"  (click)="goToProducts(grandChild.id)">{{grandChild.name}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
